@font-face {
  font-family: 'Mabry Pro';
  src: local('Mabry Pro'), url('./fonts/mabry-regular-pro.ttf');
  font-weight: normal;
}

:root {
  --black: #000;
  --white: #fff;
  --red: #c93939;
  --pink: #ff90e8;
  --yellow: #ffc900;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Mabry Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  color: var(--black);
}

li {
  list-style-type: none;
}
