@font-face {
  font-family: 'Mabry Pro';
  src: local('Mabry Pro'), url('./fonts/mabry-regular-pro.ttf');
  font-weight: normal;
}

:root {
  --black: #000;
  --white: #fff;
  --red: #c93939;
  --pink: #ff90e8;
  --yellow: #ffc900;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Mabry Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  color: var(--black);
}

li {
  list-style-type: none;
}

.main {
  background-color: #fff;
  color: var(--black);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 0;
  padding-left: 2rem;
  height: 5rem;
  border-bottom: 2px solid var(--black);
}

.navbar--header {
  font-size: 3rem;
  letter-spacing: -0.2rem;
}

.list {
  display: flex;
  align-items: center;
  gap: 3rem;
  height: 100%;
}

.list > a {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 6rem;
}

.pointer {
  cursor: pointer;
}

.underline {
  text-decoration: none;
}

.underline:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.list--bgitems {
  background-color: var(--black);
  color: var(--white);
}

.list--bgitems:hover {
  background-color: var(--white);
  border: 2px solid var(--black);
  color: var(--black);
  transition: all 100ms ease-in-out;
}

.landing--text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 2px solid var(--black);
}

.landing--text > div {
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.landing--text__header {
  font-size: 2.5rem;
}

.landing--text__para {
  font-size: 1.2rem;
}

.landing--text__clubs {
  background-color: var(--pink);
}

.landing--text__events {
  background-color: var(--yellow);
  border-left: 2px solid var(--black);
}

.clubs {
  padding: 2rem;
}

.clubs > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.legend {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border: 2px solid var(--black);
  border-radius: 5px;
}

.card--img {
  overflow: hidden;
}

.card--img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card--text {
  padding: 0.5rem;
}

.card--text > h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.card--text > p {
  font-size: 1rem;
}

.card:hover {
  box-shadow: 6px 6px 0 0 var(--black);
  transform: translate(-6px, -6px);
  transition: all 200ms ease-in-out;
}
